<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dojos_and_ninjas.css') }}">
</head>
<body class=dojo_body>
    <div class=dojo_left>
        <div>
            <h1>New Dojo</h1>
        </div>
        <form action='/create/dojos' method='post'>
            <label for='name'>Name:</label>
            <input type='text' name='name'>
            <input type='submit' value='Create' class=button>
        </form>
    </div>
    <div class=dojo_right>
        <div>
            <h1>All Dojos</h1>
        </div>
        <div class='places'>
            {% for d in dojos %}
            <div>
                <a href='/dojos/{{ d.id }}'>{{ d.name }}</a>
            </div>
            {% endfor %}
        </div>
        <a href='/ninjas'>Add Ninja</a>
    </div>
</body>
</html>